html, body {
    background-color: black;
    max-width: 100%;
}

i {
    color: #fcfcfc;
}

a {
    text-decoration: none;
    color: black;
}

.center {
    justify-content: center;
}

.div {
    margin-bottom: 150px;
}
titulo {
    color: black;
    font-size: 70px;
    white-space: nowrap;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

titulo1 {
    color: #fcfcfc;
    display: flex;
    font-size: 39px;
    padding-top: 15%;
    white-space: nowrap;
    margin-bottom: 10%;
    max-width: 100%;
    }

h1 {
    color: #fcfcfc;
    font-family: monospace;
    padding: 100px;
    margin-bottom: 20%;
    padding-right: 30px;
}

#catalog {
    color: #fcfcfc;
    transition-duration: 0.4s;
}
    #catalog:hover {
        color: black;
        padding-left: 40px;
        transition-duration: 0.5s;
    }
   
/* BOTÃO 0 */
.button0 {
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 9px;
    margin-left: 20px;
    border-radius: 20px;
    transition: 0.5s;
}
    .button0:hover {
        color: white;
        background-color: black;
        border: 1px solid white;
        transition: 0.5s;
    }

/* LOGO */
#logo-kof {
    width: 80px; 
    height: 80px;
    right: 20px;
    padding: 25px;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 70px;
}

/* CARROSSEL */
.photo {
    width: 35%;
    padding-left: 5px;
    animation: mover 25s linear infinite alternate-reverse;
}
    @keyframes mover {
    from {
        transform: translateX(-220%);
    }
    to {
        transform: translateX(0);
    }
}

.carrossel {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: -15%;
}

/* ELEMENTOS ALINHADOS */
#beetwen {
    display: flex;
    align-items: center;
    width: 100%;
}

/* PNG PRINCIPAL */
#wall {
    width: 27%;
    margin-left: 15%;
    padding-right: 5%;
    margin-bottom: 17%;
} 

/* CARD */
.cartao {
    background-color: #fcfcfc;
    width: 250px;
    margin: 1%;
    padding-bottom: 50px;
    padding-top: 3%;
    border-radius: 10%;
    transition: 0.3s ease;
}
    .cartao:hover {
        width: 277px;
        transition: 0.6s;
        margin: 0%;
    }

.conteudo {
    color: black;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

/* BOTÃO DO CARD */
button {
    font-size: 18px;
    border-radius: 10px;
    color: black;
    background-color: white;
    transition: 0.3s;
    border: 2PX solid black;
}
    button:hover {
        box-shadow: 5px 5px 10px 2px black;
        padding-left: 12px;
        padding-right: 12px;
        transition: 0.3s;
    }

/* RODAPÉ */
.rodape {
    color: #fcfcfc;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top: 200px;
}

.rodape-1 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TRANSIÇÃO "EXPERIMENTAL" */ 
#transicao {
    padding-left: 70px;
    opacity: 0;
    transition-duration: 1.0s;
}
#transicao.trans-left {
    padding-left: 0px;
    opacity: 1;
    transition-duration: 1.0s;
}

/* Sessão de Login */
#login {
    display: none;
}
#login.loginon {
    color: white;
    background-color: rgb(126, 0, 0);
    width: 250px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 12px 7px black;
    margin-top: 3%;
    padding: 2%;
    padding-top: -10%;
    position: absolute;
}

/* Input */
input {
    border-radius: 10px;
    border: 2px solid black;
    font-size: 15px;
}
