html, body {
    background-color: black;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

navbar {
    position: fixed;
    background-color: black;
    box-shadow: 0px 0px 10px 0px white;
    padding: 1%;
}

initial {
    display: block;
    width: 100%;
    background-image: url("../img/fundo-cen.jpg");
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 10%;
}

a {
    color: #fcfcfc;
    text-decoration: none;
}

br {
    margin-bottom: 200px;
}

golden {
    color: goldenrod;
}

titulo {
    color: black;
    font-size: 70px;
    white-space: nowrap;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

titulo1 {
    background: linear-gradient(black, rgb(126, 0, 0), black);
    color: #fcfcfc;
    display: flex;
    justify-content: center;
    font-size: 39px;
    white-space: nowrap;
    margin-bottom: 10%;
    margin-top: 10%;
    max-width: 100%;
    }

h1 {
    color: goldenrod;
    font-family: monospace;
    padding: 100px;
    padding-top: 8%;
    margin-bottom: 10%;
}

h3, h5 {
    color: dimgrey;
}

#catalog {
    color: #fcfcfc;
    transition-duration: 0.4s;
}
    #catalog:hover {
        padding-left: 40px;
        transition-duration: 0.5s;
    }
   
/* BOTÃO 0 */
.button0 {
    color: black;
    background-color: white;
    border: 1px solid white;
    padding: 9px;
    padding-inline: 30px;
    margin-left: 20px;
    border-radius: 20px;
    transition: 0.3s;
}
    .button0:hover {
        color: white;
        background-color: black;
        border: 1px solid white;
        transition: 0.5s;
    }

/* LOGO */
#logo-kof {
    width: 70px; 
    height: 70px;
    right: 20px;
    padding: 25px;
    margin-right: 3%;
    margin-left: 3%;
    border-radius: 70px;
}

info {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding-top: 5%;
    text-align: center;
    line-height: 0;
    margin: auto;
    margin-bottom: 10%;
}

/* ELEMENTOS ALINHADOS */
#beetwen {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

/* CARD */
.cartao {
    background-color: #fcfcfc;
    width: 250px;
    margin: 1%;
    padding-bottom: 50px;
    padding-top: 3%;
    border-radius: 10%;
    transition: 0.3s ease;
}
    .cartao:hover {
        width: 277px;
        transition: 0.6s;
        margin: 0%;
    }

.conteudo {
    color: black;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

/* BOTÃO DO CARD */
#button1 {
    font-size: 18px;
    border-radius: 10px;
    color: white;
    background-color: black;
    transition: 0.3s;
    border: 2PX solid black;
}
    #button1:hover {
        box-shadow: 5px 5px 10px 2px black;
        padding-left: 12px;
        padding-right: 12px;
        transition: 0.3s;
    }

/* RODAPÉ */
.rodape {
    color: #fcfcfc;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin-top: 100px;
}

.rodape-1 {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TRANSIÇÃO "EXPERIMENTAL" */ 
#transicao {
    color: white;
    padding-left: 70px;
    opacity: 0;
    transition-duration: 1.0s;
}
#transicao.trans-left {
    padding-left: 0px;
    opacity: 1;
    transition-duration: 1.0s;
}

/* SESSÃO DE LOGIN */
#login {
    display: none;
}
#login.loginon {
    color: white;
    background-color: rgb(126, 0, 0);
    width: 250px;
    display: block;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px black;
    margin-top: 1%;
    margin-left: 5%;
    padding: 1%;
    padding-top: -10%;
    white-space: nowrap;
    position: absolute;
}

/* Input */
input {
    border-radius: 10px;
    border: 2px solid black;
    font-size: 14px;
}

/* PAGINA "UNIDADE" */

#img0 {
    width: 320px;
    border-radius: 40px 10px;
}

/* CARTÃO DAS UNIDADES */
card0 {
    width: 100%;
    margin: 5%;
    color: white;
    border: 1px solid black;
    border-radius: 40px 10px;
}
card0:hover {
    border: 1px solid white;
    border-radius: 40px 10px;
    box-shadow: 0px 0px 10px 0px white;
}

/* OPÇÃO DE CONTATO */
#contato {
    display: none;
}
#contato.contatoon {
    display: block;
    color: white;
    background-color: rgb(126, 0, 0);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px black;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 1%;
    position: absolute;
}

descricao {
   text-align: center;
   color: white;
   margin: auto;
   padding: auto;
}

#button2 {
    padding: auto;
    background-color: goldenrod;
    font-size: 20px;
    border: none;
    border-radius: 35px;
    margin-top: 5%;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.3s;
}
    #button2:hover {
        padding-left: 3%;
        padding-right: 3%;
        transition: 0.2s;
    }

/* FEEDBACK DOS MESTRES */
professores {
    color: black;
    margin: auto;
    padding: auto;
}
#prof {
    width: 90%;
    margin-bottom: 10%;
    background-color: aliceblue;
    border-radius: 25px 20px 0px 0px;
    display: flex;
    padding: auto;
    margin: 5%;
    transition: 0.1s;
}
    #prof:hover {
        box-shadow: 0px 0px 10px 0px white;
        transition: 0.2s;
    }

#img-mestre {
    width: 330px;
    border-radius: 20px 20px 0px 0px;
    margin-right: 2%;
}

tabela {
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 48, 48);
    padding: 2%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
}